NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_ENV=sandbox

HUBSPOT_PORTAL_ID=
NEXT_PUBLIC_HUBSPOT_PORTAL_ID=
HUBSPOT_FORM_SESSIONS=
HUBSPOT_FORM_SHOWCASE=
HUBSPOT_FORM_CREATOR=
HUBSPOT_FORM_FUNDRAISER=
